---
import img01 from "/assets/Colorful-Freelancer-YouTube-Thumbnail-768x432.png.webp";
import { getCollection } from "astro:content";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  //console.log(data);
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

---

<section class="posts-list pb-10 sm:pb-14 bg-[#9F79B1]">
  <div class="caixola text-black">
    <ul class="bg-[#9F79B1] flex flex-col gap-10 p-10">
       
        <li>
          <div class="full-post">
            <article class="flex flex-row gap-10 pb-10">
              <div class="imagem basis-1/2">
                <img
                  src="https://www.possama.com/wp-content/webp-express/webp-images/uploads/2023/02/Colorful-Freelancer-YouTube-Thumbnail-768x432.png.webp"
                  alt='ThewNewStack'
                  class=''
                  width=''
                  height=''
                />
              </div>
              <div class="chamada basis-1/2">
                <h1 class="my-5 sm:my-6 text-[#F3F5F8] text-5xl font-bold sm:text-7xl">{publishedBlogEntries[0].data.title}</h1>
                <p class="mb-4">{publishedBlogEntries[0].data.snippet}</p>
                <a href={`/blog/${publishedBlogEntries[0].slug}`}>Leia mais</a>
              </div>
            </article>      
          </div>
        </li>
      
      <div class="col-3-posts grid grid-cols-3 gap-16">
      {        
        publishedBlogEntries.slice(1).map((blogPostEntry, index) => (   
            <li>
              <article class="flex gap-10 flex-col">
                <a href={`/blog/${blogPostEntry.slug}`}>
                  <div class="imagem">
                    <img
                      src="https://www.possama.com/wp-content/webp-express/webp-images/uploads/2023/02/Colorful-Freelancer-YouTube-Thumbnail-768x432.png.webp"
                      alt='ThewNewStack'
                      class=''
                      width=''
                      height=''
                    />
                  </div>
                </a>
                <div class="chamada">
                  <a href={`/blog/${blogPostEntry.slug}`}>
                    <h1 class="mb-4 sm:mb-4 text-[#F3F5F8] text-2xl font-bold sm:text-4xl">{blogPostEntry.data.title}</h1>
                  </a>
                  <p class="mb-4">{blogPostEntry.data.snippet}</p>
                  <a href={`/blog/${blogPostEntry.slug}`}>Leia mais</a>
                </div>
              </article>
            </li>
        ))
      }
      </div> 




      </ul>

      

    </div>
  </div>
</section>